.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    color: #2a6e77;
}

/* The navbar container */

.topnav {
    overflow: hidden;
    background-color: #2a6e77;
}

/* Navbar links */

.topnav a {
    float: left;
    display: block;
    color: #c2b7af;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */

.topnav a:hover {
    background-color: #c2b7af;
    color: #2a6e77;
}

/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    color: #81ffb5;
}